<div *ngIf="!userService.loadingAuth" style="height:100vh !important" class="h-100 w-100 d-flex align-items-center justify-content-center flex-column">

    <img class="img-fluid mb-5" style="max-height:50px" @rubber src="../../../assets/logo.png">
    <p-card [style]="{maxWidth: '400px'}">
        <ng-template pTemplate="header">
            <div class="row">
                <div class="col-12">
                    <ng-container *ngIf="loginMode == 0">
                        <h3 class="text-center mt-3" [@fadeIn]="loginMode">
                            Giriş yapın
                        </h3>
                    </ng-container>
                    <ng-container *ngIf="loginMode == 1">
                        <h3 class="text-center mt-3" [@fadeIn]="loginMode">
                            Kayıt olun
                        </h3>
                    </ng-container>
                </div>
            </div>
        </ng-template>
        <div class="card-body p-0" *ngIf="loginMode == 0 " [@fadeIn]="loginMode">
            <form [formGroup]="loginForm">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="field">
                            <input type="text" class="w-100 p-inputtext-lg" placeholder="E-posta" formControlName="mail" pInputText />
                        </div>

                    </div>
                    <div class="col-12 mb-4">
                        <div class="field position-relative">
                            <p-password (keyup.enter)="login()" [feedback]="false" formControlName="password" placeholder="Parola" class="w-100 p-inputtext-lg" [toggleMask]="true"></p-password>
                        </div>

                    </div>
                </div>
            </form>

        </div>



        <div class="card-body p-0" *ngIf="loginMode == 1" [@fadeIn]="loginMode">
            <form [formGroup]="registerForm">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="field">
                            <input type="text" class="w-100 p-inputtext-lg" placeholder="E-posta" formControlName="name" pInputText />
                        </div>

                    </div>

                    <div class="col-12 mb-4">
                        <div class="field">
                            <input type="text" class="w-100 p-inputtext-lg" placeholder="E-posta" formControlName="mail" pInputText />
                        </div>

                    </div>
                    <div class="col-12 mb-4">
                        <div class="field position-relative">
                            <p-password (keyup.enter)="register()" [feedback]="false" formControlName="password" placeholder="Parola" class="w-100 p-inputtext-lg" [toggleMask]="true"></p-password>
                        </div>

                    </div>

                </div>
            </form>

        </div>


        <ng-template pTemplate="footer">

            <ng-container *ngIf="loginMode == 0">
                <div class="d-flex align-items-center w-100 justify-content-center">
                    <div class="mb-2">
                        <button pButton (click)="login()" [loading]="loadingAuth" type="button" label="Giriş Yap"></button>

                    </div>
                </div>
                <div class="d-flex align-items-center w-100 justify-content-center">
                    <div>
                        <button (click)="loginMode = 1" pButton type="button" label="Üye değli misiniz? Hemen katılın." class="p-button-link"></button>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="loginMode == 1">
                <div class="d-flex align-items-center w-100 justify-content-center">
                    <div class="mb-2">
                        <button (click)="register()" [loading]="loadingAuth" pButton type="button" label="Kayıt Ol"></button>

                    </div>
                </div>
                <div class="d-flex align-items-center w-100 justify-content-center">
                    <div>
                        <button (click)="loginMode = 0" pButton type="button" label="Zaten üye misiniz? Giriş yapın." class="p-button-link"></button>
                    </div>
                </div>
            </ng-container>
        </ng-template>
    </p-card>

</div>

<div *ngIf="userService.loadingAuth" style="height:100vh !important" class="h-100 w-100 d-flex align-items-center justify-content-center flex-column">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
</div>