<div class="mb-4">
    <p-card>
        <div class="text-start">
            <div class="d-flex align-items-center">
                <div class="pe-3">
                    <p-badge *ngIf="rank+1 == 1" [value]="rank + 1" severity="success" styleClass="mr-2"></p-badge>
                    <p-badge *ngIf="rank+1 == 2" [value]="rank + 1" severity="info" styleClass="mr-2"></p-badge>
                    <p-badge *ngIf="rank+1 == 3" [value]="rank + 1" severity="warning" styleClass="mr-2"></p-badge>
                    <p-badge *ngIf="rank+1 > 3" [value]="rank + 1" styleClass="mr-2 rank-ordinary"></p-badge>
                </div>
                <div class="pe-3">
                    <p-avatar [label]="item.userId.name.split('')[0]" styleClass="mr-2" size="large" shape="circle"></p-avatar>
                </div>
                <div class="flex-grow-1">
                    <a class="user-link fw-bold fs-6">
                     {{item.userId.name || 'İsim yok'}}
                    </a>
                    <p class="fw-light fs-7 m-0">
                        {{getDateFriendly(item.userId.registerTime)}}
                    </p>
                </div>
                <div *ngIf="type == 0">
                    <h6 class="fw-bold m-0">{{item.userId.score}}</h6>
                </div>
                <div *ngIf="type == 1">
                    <h6 class="fw-bold m-0">{{item.words.length}}</h6>
                </div>
            </div>

        </div>
    </p-card>
</div>