<div class="container-fluid h-100">
    <div class="h-100 w-100 d-flex justify-content-between flex-column p-3">

        <app-small-header></app-small-header>
        <div class="content    flex-grow-1  mt-4  d-flex flex-column">
            <div class="title-area text-center">

                <h2 class="fw-bolder title">
                    Kullanıcı Sıralaması
                </h2>
                <div class="row">
                    <div class="col-12 pt-4">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Sıralamada ara" />
                        </span>
                    </div>
                </div>



            </div>

            <div class="content-area text-center d-flex justify-content-center flex-column align-items-center pt-5">
                <div class="word-list w-100 d-flex justify-content-center flex-column" style="max-width:600px;">

                    <p-tabView [(activeIndex)]="activeTab" (activeIndexChange)="indexChange()">
                        <p-tabPanel header="Puan Sıralaması">
                            <div class="pt-3">
                                <div class="mb-4">

                                    <p-card class="card-highlight">
                                        <div class="text-start">
                                            <div class="d-flex" *ngIf="!loadingScores && myRank >= 0">
                                                <div class="me-4">
                                                    <p-avatar [label]="myScore" styleClass="mr-5" size="large" [style]="{'background-color': '#262894', 'color': '#ffffff'}"></p-avatar>
                                                </div>
                                                <div>
                                                    <p class="fw-bold fs-6 mb-1">{{userService.user.name}}</p>
                                                    <p class="fs-7 fw-light m-0">
                                                        <b>{{myRank + 1}}</b>. sıradasınız.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="d-flex" *ngIf="!loadingScores && myRank <0">
                                                <div class="me-4">
                                                    <p-avatar [label]="'?'" styleClass="mr-5" size="large" [style]="{'background-color': '#262894', 'color': '#ffffff'}"></p-avatar>
                                                </div>
                                                <div>
                                                    <p class="fw-bold fs-6 mb-1">{{userService.user.name}}</p>
                                                    <p class="fs-7 fw-light m-0">
                                                        Henüz sıralamaya giremediniz.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="d-flex" *ngIf="loadingScores">
                                                <div class="me-4">
                                                    <p-skeleton class="light" width="48px" height="48px"></p-skeleton>

                                                </div>
                                                <div>
                                                    <div class="mb-2">
                                                        <p-skeleton class="light" width="140px" height="24px"></p-skeleton>

                                                    </div>
                                                    <p-skeleton class="light" width="120px" height="18px"></p-skeleton>

                                                </div>
                                            </div>



                                        </div>
                                    </p-card>


                                </div>
                                <ng-container *ngIf="loadingScores">
                                    <div class="mb-4">

                                        <p-card>
                                            <div class="text-start">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <div class="me-3">
                                                            <p-skeleton shape="circle" size="24px"></p-skeleton>
                                                        </div>

                                                    </div>
                                                    <div class="text-end">
                                                        <div class="me-3">
                                                            <p-skeleton shape="circle" size="48px"></p-skeleton>
                                                        </div>


                                                    </div>

                                                    <div class="text-end flex-grow-1">
                                                        <p-skeleton width="100px" height="28px"></p-skeleton>

                                                    </div>
                                                    <div class="text-end ">
                                                        <p-skeleton width="90px" height="32px"></p-skeleton>

                                                    </div>
                                                </div>

                                            </div>
                                        </p-card>

                                    </div>

                                    <div class="mb-4">

                                        <p-card>
                                            <div class="text-start">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <div class="me-3">
                                                            <p-skeleton shape="circle" size="24px"></p-skeleton>
                                                        </div>

                                                    </div>
                                                    <div class="text-end">
                                                        <div class="me-3">
                                                            <p-skeleton shape="circle" size="48px"></p-skeleton>
                                                        </div>


                                                    </div>

                                                    <div class="text-end flex-grow-1">
                                                        <p-skeleton width="100px" height="28px"></p-skeleton>

                                                    </div>
                                                    <div class="text-end ">
                                                        <p-skeleton width="90px" height="32px"></p-skeleton>

                                                    </div>
                                                </div>

                                            </div>
                                        </p-card>

                                    </div>

                                    <div class="mb-4">

                                        <p-card>
                                            <div class="text-start">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <div class="me-3">
                                                            <p-skeleton shape="circle" size="24px"></p-skeleton>
                                                        </div>

                                                    </div>
                                                    <div class="text-end">
                                                        <div class="me-3">
                                                            <p-skeleton shape="circle" size="48px"></p-skeleton>
                                                        </div>


                                                    </div>

                                                    <div class="text-end flex-grow-1">
                                                        <p-skeleton width="100px" height="28px"></p-skeleton>

                                                    </div>
                                                    <div class="text-end ">
                                                        <p-skeleton width="90px" height="32px"></p-skeleton>

                                                    </div>
                                                </div>

                                            </div>
                                        </p-card>

                                    </div>


                                </ng-container>
                                <ng-container *ngIf="!loadingScores">
                                    <ng-container *ngFor="let item of scoreList; let i = index ">
                                        <app-score-single [item]="item" [type]="activeTab" [rank]="i"></app-score-single>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Kelime Sıralaması">
                            <div class="pt-3">
                                <div class="mb-4">

                                    <p-card class="card-highlight">
                                        <div class="text-start">
                                            <div class="d-flex" *ngIf="!loadingScores && myRank >= 0">
                                                <div class="me-4">
                                                    <p-avatar [label]="myWordCount" styleClass="mr-5" size="large" [style]="{'background-color': '#262894', 'color': '#ffffff'}"></p-avatar>
                                                </div>
                                                <div>
                                                    <p class="fw-bold fs-6 mb-1">{{userService.user.name}}</p>
                                                    <p class="fs-7 fw-light m-0">
                                                        <b>{{myRank + 1}}</b>. sıradasınız.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="d-flex" *ngIf="!loadingScores && myRank <0">
                                                <div class="me-4">
                                                    <p-avatar [label]="'?'" styleClass="mr-5" size="large" [style]="{'background-color': '#262894', 'color': '#ffffff'}"></p-avatar>
                                                </div>
                                                <div>
                                                    <p class="fw-bold fs-6 mb-1">{{userService.user.name}}</p>
                                                    <p class="fs-7 fw-light m-0">
                                                        Henüz sıralamaya giremediniz.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="d-flex" *ngIf="loadingScores">
                                                <div class="me-4">
                                                    <p-skeleton class="light" width="48px" height="48px"></p-skeleton>

                                                </div>
                                                <div>
                                                    <div class="mb-2">
                                                        <p-skeleton class="light" width="140px" height="24px"></p-skeleton>

                                                    </div>
                                                    <p-skeleton class="light" width="120px" height="18px"></p-skeleton>

                                                </div>
                                            </div>



                                        </div>
                                    </p-card>


                                </div>
                                <ng-container *ngIf="loadingScores">
                                    <div class="mb-4">

                                        <p-card>
                                            <div class="text-start">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <div class="me-3">
                                                            <p-skeleton shape="circle" size="24px"></p-skeleton>
                                                        </div>

                                                    </div>
                                                    <div class="text-end">
                                                        <div class="me-3">
                                                            <p-skeleton shape="circle" size="48px"></p-skeleton>
                                                        </div>


                                                    </div>

                                                    <div class="text-end flex-grow-1">
                                                        <p-skeleton width="100px" height="28px"></p-skeleton>

                                                    </div>
                                                    <div class="text-end ">
                                                        <p-skeleton width="90px" height="32px"></p-skeleton>

                                                    </div>
                                                </div>

                                            </div>
                                        </p-card>

                                    </div>

                                    <div class="mb-4">

                                        <p-card>
                                            <div class="text-start">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <div class="me-3">
                                                            <p-skeleton shape="circle" size="24px"></p-skeleton>
                                                        </div>

                                                    </div>
                                                    <div class="text-end">
                                                        <div class="me-3">
                                                            <p-skeleton shape="circle" size="48px"></p-skeleton>
                                                        </div>


                                                    </div>

                                                    <div class="text-end flex-grow-1">
                                                        <p-skeleton width="100px" height="28px"></p-skeleton>

                                                    </div>
                                                    <div class="text-end ">
                                                        <p-skeleton width="90px" height="32px"></p-skeleton>

                                                    </div>
                                                </div>

                                            </div>
                                        </p-card>

                                    </div>

                                    <div class="mb-4">

                                        <p-card>
                                            <div class="text-start">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <div class="me-3">
                                                            <p-skeleton shape="circle" size="24px"></p-skeleton>
                                                        </div>

                                                    </div>
                                                    <div class="text-end">
                                                        <div class="me-3">
                                                            <p-skeleton shape="circle" size="48px"></p-skeleton>
                                                        </div>


                                                    </div>

                                                    <div class="text-end flex-grow-1">
                                                        <p-skeleton width="100px" height="28px"></p-skeleton>

                                                    </div>
                                                    <div class="text-end ">
                                                        <p-skeleton width="90px" height="32px"></p-skeleton>

                                                    </div>
                                                </div>

                                            </div>
                                        </p-card>

                                    </div>


                                </ng-container>
                                <ng-container *ngIf="!loadingScores">
                                    <ng-container *ngFor="let item of scoreList; let i = index ">
                                        <app-score-single [item]="item" [type]="activeTab" [rank]="i"></app-score-single>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </p-tabPanel>

                    </p-tabView>

                </div>

            </div>
        </div>
    </div>
</div>